    .alert {
        padding: 10px;
        margin-bottom: 10px;

    }

    .alert-danger {
        background-color: #f8d7da;
        color: #721c24;
        border-color: #f5c6cb;
    }



.tag {
            display: inline-block;
            background-color: #f1f1f1;
            color: #555;
            padding: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
        }
        .tag span {
            cursor: pointer;
        }



.checkbtn {
    background: #f99a6200!important;
    border-color: #f99a6254!important;
    color: #f99a62!important;
    box-shadow: -1px 7px 20px -7px rgba(0, 0, 0, 0.12)!important;
         }
.checkbtn:hover {
background: #f99a62!important;
    border-color: #f99a6254!important;
    color: #fff!important;
}

.warnbtn {
    background: #d5080800!important;
    border-color: #d5080854!important;
    color: #d50808!important;
    box-shadow: -1px 7px 20px -7px rgba(0, 0, 0, 0.12)!important;
         }
.warnbtn:hover {
background: #d50808!important;
    border-color: #d5080854!important;
    color: #fff!important;
}

.repairbtn {
    background: #d5087a00!important;
    border-color: #d5087a54!important;
    color: #d5087a!important;
    box-shadow: -1px 7px 20px -7px rgba(0, 0, 0, 0.12)!important;
         }
.repairbtn:hover {
background: #d5087a!important;
    border-color: #d5087a54!important;
    color: #fff!important;
}

.loadbtn {
    background: #18758500  !important;
    border-color: #18758554!important;
    color: #187585!important;
    box-shadow: -1px 7px 20px -7px rgba(0, 0, 0, 0.12)!important;
}
.loadbtn:hover {
background: #187585!important;
    border-color: #187585!important;
    color: #fff!important;
}

.runbtn {
    background: #01d28e00!important;
    border-color: #01d28e!important;
    color: #01d28e!important;
    box-shadow: -1px 7px 20px -7px rgba(0, 0, 0, 0.12)!important;
}
.runbtn:hover {
    background: #01d28e!important;
    border-color: #01d28e!important;
    color: #fff!important;
}

#logContainer {
            background-color: black;
            color: white;
            padding: 10px;
            font-family: monospace;
                    height: 300px;
        overflow-y: auto;
    }



.status-paid::before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* margin-right: 10px; */
    padding-right: 5px;
    color: #3b9747;
}

.status-unpaid::before {
  content: "\f057"; /* Код иконки не оплачено (fa-times-circle) */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
      padding-right: 5px;
    color: #f99f11;
}

.status-overpaid::before {
  content: "\f53e"; /* Код иконки переплата (fa-money-bill-wave) */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
        padding-right: 5px;
    color: #f91111;
}



.morebutton {
    padding: 10px 10px!important;
    background: #01d28e00!important;
    color: #873979!important;
    }
.morebutton:hover {
    background: #714bbd!important;
    color: #ededed!important;
}

.mini-btn {
    margin: 0!important;
    margin-bottom: 1px!important;
    padding: 7px 14px!important;
    padding-bottom: 6px!important;
 }

.programs th, .programs td{
    padding: 0.45rem!important;
    font-size: 12px!important;
    vertical-align: top;
    min-width: 80px!important;
    border-top: 1px solid #dee2e6;
    }

.programs a{
    color: #863979!important;
    font-weight: bold!important;
    font-family: sans-serif!important;
}

.programs a:hover {
color: #714bbd!important
}

.feedback {
margin-top: 20px!important;

}

.feedback a {
color: #9dcd18!important;
}


.searchbtn {
    margin: 0;
    padding: 10px 25px;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 15px;
    }

#statusMessage{
display: inline-block;
}

.filters {
display: inline-block;
    vertical-align: bottom;
    margin-left: 25px;
    line-height: 2;
    position: relative;
    top: -4px;
    }

/* Обертка для чекбоксов */
.checkbox-wrapper {
  display: inline-block;
  margin-right: 10px;
}

/* Стили для самого чекбокса */
.checkbox-wrapper input[type="checkbox"] {
  margin-right: 5px;
}

/* Стили для пользовательского внешнего вида */
.checkbox-wrapper input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 20px;
  position: relative;
}

.checkbox-wrapper input[type="checkbox"] + label:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 1px;
}

.checkbox-wrapper input[type="checkbox"]:checked + label:before {
  background-color: #2196F3;
  border-color: #2196F3;
}

.checkbox-wrapper input[type="checkbox"] + label:after {
  content: '\2713';
  font-size: 12px;
  color: #fff;
  position: absolute;
  left: 4px;
  top: 0;
  line-height: 16px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.checkbox-wrapper input[type="checkbox"]:checked + label:after {
  opacity: 1;
}



.prewarn {
font-size:12px;
}
 .prewarn-container {
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 40px;
  }

  .prewarn {
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .active {
    opacity: 1;
  }

table#result a {
color: #435b9f;
}

table#result a:hover {
color: #ff4c9f;
}






#result a {
color: #ffffff;
    font-family: math;
}

#result a:hover {
color: #4effc5;
}

li.new > a {
  position: relative;
}

li.new > a::before {
    content: "\f0e7";
    position: absolute;
    /* top: 0; */
    left: -23px;
    z-index: -24;
    /* width: 33px; */
    /* height: 33px; */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}


.action-btn {
    background: #873979 !important;
    border-color: #873979 !important;
    color: #fff !important;
}

.action-btn:hover, .action-btn:focus {
    border-color: #714bbd !important;
    background: #714bbd  !important;
}

.tips {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tips::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #05281de0;
    color: #fff;
    padding: 18px;
    border-radius: 18px;
    font-size: 14px;
    line-height: 18px;
    font-family: monospace;
    top: 50px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    width: 300px;
    z-index: 99999;
}

.tips:hover::after {
  visibility: visible;
  opacity: 1;
}

.attention {
      display: block;
    border-top: dashed;
    font-size: 13px;
    margin-top: 25px;
}